#login-form{
    width:100%;
    max-width:500px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#calculator{
    max-width: 300px;
    
}